{% extends 'base.html' %}
{% load unobase_tags blog_widgets %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>{{ object.title }}</h1>
            <div class="content">
                <div class="sidebar">
                    {% tag_cloud object.slug %}
                </div>
                <div class="column">
                    {% for object in object_list %}
                        <div class="listing">
                            <h3><a href="{% url 'blog_entry_detail' object.slug %}">{{ object.title }}</a></h3>
                            <img src="{{ object.get_98x98_url }}" class="image_thumb" />
                            <p>{{ object.content|safe|truncatewords_html:40 }}<a href="{% url 'blog_entry_detail' object.slug %}" class="link">Read More</a></p>
                            {% tag_list object %}
                        </div>
                    {% empty %}
                        <p>There are no blog entries to display.</p>
                    {% endfor %}
                </div>
                <div class="clear"></div>
                {% pagination page_obj %}
            </div><!--/content-->
        </div>
    </div>
{% endblock %}