{% extends 'console/base.html' %}

{% block title %}Team{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
    <div class="section">
        <div class="container console">
            <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Team Member</h1>
            <a href="{% url 'console_team_list' %}" class="link btn_light console-btn">Back To List</a>
            <div class="form">
                <form id="frmNewTeamMember" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.modified_by }}
                    {{ form.created_by }}
                    
                    <div class="row">
                        <div class="field edit-image">
                            {% if form.object %}
                                <label>Current Image</label>
                                <img src="{{ form.object.get_120x120_url }}" />
                            {% endif %}
                            <div class="revert">{{ form.image }}{{ form.image.errors }}</div>
                            <div class="revert"><label>Image name</label><div>{{ form.image_name }}{{ form.image_name.errors }}</div></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field field-half">
                            <label>Title</label>
                            <div>{{ form.title }}{{ form.title.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field">
                            <label>Content</label>
                            <div class="clear"></div>
                            <div class="editor">{{ form.content }}{{ form.content.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field field-half">
                            <label>Tags <span>Separate tags with commas e.g: "Tag 1, Tag 2, Tag 3".</span></label>
                            <div>{{ form.comma_seperated_tags }}{{ form.comma_seperated_tags.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field">
                            <label>State</label>
                            <div>{{ form.state }}{{ form.state.errors }}</div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="field">
                            <label>Job Title</label>
                            <div>{{ form.job_title }}{{ form.job_title.errors }}</div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="field">
                            <label>Leader</label>
                            <div>{{ form.is_leader }}{{ form.is_leader.errors }}</div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="field">
                            <label>Board Member</label>
                            <div>{{ form.is_board_member }}{{ form.is_board_member.errors }}</div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="field">
                            <label>Investor</label>
                            <div>{{ form.is_investor }}{{ form.is_investor.errors }}</div>
                        </div>
                    </div>

                    <div class="buttons">
                        <input type="submit" id="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Team Member" class="btn" />
                    </div>
                
                    <div class="clear"></div>
                </form>
            </div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}