{% extends 'base.html' %}
{% load unobase_tags %}

{% block title %}Board Members{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Board Members</h1>
            <div class="content">
                <div class="column">
	                {% for object in object_list %}
                        <div class="third">
                            {% if object.get_202x126_url %}
                            <a href="#"><img src="{{ object.get_202x126_url }}" class="image_third" /></a>
                            {% endif %}
                            <h3>{{ object.title }}</h3>
                            <p>{{ object.content|safe|truncatechars:230 }}</p>
                            <p><a href="{% url 'corporate_site_board_member_detail' object.slug %}" class="link">Read More</a></p>
                        </div>
                    {% empty %}
                        <p>There are no board members to display.</p>
                    {% endfor %}
                </div>
                {% pagination page_obj %}
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}