{% load unobase_tags %}

{% for object in object_list %}
	<div class="comment {% if object.in_reply_to %}reply{% endif %} {% if object.user.profile.is_blacklisted %}naughty{% endif %}">
	    {% comment %}
	    <div class="avatar">
		    {% if user.profile.is_staff %}
	           <a href="{% url 'user_detail' object.user.id %}">
	               <img src="{{ object.user.profile.get_62x62_url }}" />
	           </a>
	        {% else %}
	           <img src="{{ object.user.profile.get_62x62_url }}" />
	        {% endif %}
        </div>
        {% endcomment %}
	    <div class="comment_content">
	        <div class="user user_title">
	           {% if user.profile.is_staff %}
	               <a href="{% url 'user_detail' object.user.id %}">{{ object.user.display_name }}</a>
	           {% else %}
	               <strong>{{ object.user.display_name }}</strong>
	           {% endif %}
	        </div>
	        <div class="rich">{{ object.comment }}</div>
	        <div class="meta">
	            <div class="deets">
	                <span class="date">{{ object.submit_date }}</span>
	            </div>
	            {% if user.profile.is_authenticated %}
		            <div class="actions">
		                {% if user.profile.is_superuser %}
		                    {% if object.state == 'pending' %}
		                      <a href="{% url 'moderate_comment_approve' object.id %}">Approve</a> &middot;
		                      <a href="{% url 'moderate_comment_unapprove' object.id %}">Unapprove</a> &middot;
		                      <a href="{% url 'moderate_comment_spam' object.id %}">Spam</a> &middot;
		                    {% endif %}
		                    {% if object.state == 'approved' %}
		                      <a href="{% url 'moderate_comment_unapprove' object.id %}">Unapprove</a> &middot;
		                      <a href="{% url 'moderate_comment_spam' object.id %}">Spam</a> &middot;
		                    {% endif %}
		                    {% if object.state == 'unapproved' %}
		                      <a href="{% url 'moderate_comment_approve' object.id %}">Approve</a> &middot;
		                      <a href="{% url 'moderate_comment_spam' object.id %}">Spam</a> &middot;
		                    {% endif %}
		                    {% if object.state == 'spam' %}
		                      <a href="{% url 'moderate_comment_approve' object.id %}">Approve</a> &middot;
		                      <a href="{% url 'moderate_comment_unapprove' object.id %}">Unapprove</a> &middot;
		                    {% endif %}
		                    {% if user.profile.is_admin and not object.user.profile.is_blacklisted %}
	                          <a href="{% url 'moderate_comment_blacklist' object.id %}">Blacklist</a> &middot;
	                        {% endif %}
		                {% endif %}
		                <a href="javascript:reply('{{ object.user.display_name }}', {{ object.id }});">Reply</a>
		            </div>
		        {% endif %}
	        </div>
	        {% tag_list object %}
	    </div>
	</div><!--/comment-->
{% endfor %}
{% comment_pagination_ajax page_obj %}