<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery.form.js"></script>
<script>
    var options = { target : '#comment_form_div', success : update_comment_list};
    
    function update_comment_list(responseText, statusText, xhr, $form)  { 
        $('#comment_list_div').load('{% url comment_list content_type.id object.id %}');
        $('#comment_form').ajaxForm(options);
    }

    $(document).ready(function() {
    	{% if user.is_authenticated %}
	        $('#comment_form_div').load('{% url comment_create content_type.id object.id %}', function() {
	            $('#comment_form').ajaxForm(options);
	        });
        {% endif %}
        $('#comment_list_div').load('{% url comment_list content_type.id object.id %}');
    });

    function load_page_ajax(page) {
        $('#comment_list_div').load('{% url comment_list content_type.id object.id %}?page='+page);
    }
    
    function reply(user, comment_id){
        $('#id_comment').focus().val('@' + user + ': ');
        $('#id_in_reply_to').val(comment_id);
        console.log($('#id_in_reply_to').val());
    }
</script>