{% load unobase_tags %}

<h3>Comments</h3>
{% include 'unobase/includes/message_error_header.html' %}
<form id="comment_form" name="comment_form" id="comment_form" action="{% url 'comment_create' form.object_content_type.id form.object.id %}" method="POST">
    {% csrf_token %}
    <div class="field">
        <label for="comment">Post a Comment</label>
        {{ form.user }}{{ form.content_type }}{{ form.object_pk }}{{ form.submit_date }}{{ form.site }}{{ form.ip_address }}{{ form.is_public }}{{ form.comment }}{{ form.in_reply_to }}{{ form.report_count }}
    </div>
    <div class="field">
        {{ form.visible_to }}
        <input type="submit" id="submit" value="Post Comment" class="btn" />
    </div>
</form>