{% extends 'base.html' %}

{% block outer_content %}
<div id="wrap" class="age">

    <div class="gateway">
        <div class="age_logo"></div>
        <div class="age_content">
            <h2>You do not meet the minimum age required to view this content.</h2>
        </div>
        <div class="age_legal"><span>2013 Guinness Nigeria</span> &nbsp;|&nbsp; <a href="http://www.drinkiq.com/" target="_blank">Drink Responsibly</a></div>
    </div>

    <div id="footer">
        <div class="sr">
            <div class="container">Not For Sale to Persons Under the Legal Purchase Age. Drink Responsibly</div>
        </div>
    </div><!--/Footer-->

</div><!--/Wrap-->
{% endblock %}