{% extends 'base.html' %}
{% load unobase_tags %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Events</h1>
            <div class="content">
                <div class="column">
	                {% for object in object_list %}
	                    <div class="third">
	                        <a href="{{ object.external_link }}"><img src="{{ object.get_202x126_url }}" class="image_third" /></a>
                            <h3>{{ object.title }}</h3>
	                        <p>{{ object.content|safe }}</p>
	                        <p>{{ object.start }} - {{ object.end }}</p>
	                        {% if object.external_link %}
	                            <p><a href="{{ object.external_link }}" class="link" target="_blank">Learn More</a></p>
	                        {% endif %}
	                    </div>
	                {% empty %}
	                    <p>There are no events to display.</p>
	                {% endfor %}
                </div>
                {% pagination page_obj %}
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}