{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>News</h1>
        <div class="content">
            <div class="column column_full">
                <div class="listing">
                    <h3>{{ object.title }}</h3>
                    {{ object.content|safe }}
                    <p>Share:</p>
                    <span title='Facebook' class='st_facebook_large' displayText='Facebook'></span>
					<span title='Twitter' class='st_twitter_large' displayText='Tweet'></span>
					<span title='LinkedIn' class='st_linkedin_large' displayText='LinkedIn'></span>
					<span title='Pinterest' class='st_pinterest_large' displayText='Pinterest'></span>
					<span title='Google Plus' class='st_googleplus_large' displayText='Google +'></span>
					<span title='Reddit' class='st_reddit_large' displayText='Reddit'></span>
					<span title='StumbleUpon' class='st_stumbleupon_large' displayText='StumbleUpon'></span>
                </div>
                <div class="back_to_list"><a href="{% url 'corporate_site_news_list' %}" class="btn btn_light">&laquo; Back To List</a></div>
            </div>
        </div><!--/content-->
    </div>
</div>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ed2330ac-a311-4a43-8879-41e85bd1a870", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
{% endblock %}